<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zikailiu.textutils</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>120D446C-DD7D-4684-B6C8-BEEA69CB43E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17113BA8-F83F-448C-9F91-8135D658EE64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17113BA8-F83F-448C-9F91-8135D658EE64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D60CBE35-A035-4140-A826-871B52E5F4DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A20A20C-DE27-47F6-B90C-85D140EDB312</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B107D83D-BBC6-4214-AD18-85EFE7E60B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E767562-4C53-4BCA-A299-191698F3B546</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A99612A-3F8E-41AC-A7D8-EB614215A0A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DB53584-927A-43CF-9142-52710B4D320C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3738ECE8-F692-40C9-84C3-8BA50B1DB082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4307869D-EEE8-4AF4-A0F0-CC4B94EA7A94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>569A6FF5-F1BF-4A07-8FC6-8DD00EF1F4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49A8206E-39AF-4BB1-AA78-EA96145D8F65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A3E26F-7A34-4F3C-B3E5-9AD637487E8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D61F8AC-8A98-4E28-90AD-6804F3DE0716</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>584F4D36-9ABC-4935-924F-B416202B70C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>505B1B41-289D-4C71-894C-D0D41F7CA7CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E2B1A3F-58F3-423F-BE74-A89FA7CACA94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>569A6FF5-F1BF-4A07-8FC6-8DD00EF1F4C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDFBB463-55E8-4CD2-9A9B-43E7CF25CE18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>584F4D36-9ABC-4935-924F-B416202B70C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>505B1B41-289D-4C71-894C-D0D41F7CA7CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>887AC2CD-26B8-4C16-90EE-53569D999011</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DB53584-927A-43CF-9142-52710B4D320C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94C4C2DA-A630-44FB-A87F-B367CEEF7B2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3079EA2-5701-4208-BB09-3A104DB9AF71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97993695-6B1C-4204-BF16-1A85EACFA5DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>339CD1E8-F076-495F-9C82-352CC45924E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A074A1BC-BDCE-4EB1-900D-A1443A3AE489</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A20A20C-DE27-47F6-B90C-85D140EDB312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1A3E26F-7A34-4F3C-B3E5-9AD637487E8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9EA483E-CA86-4B12-876B-9B651EE6A55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C98FBBB5-8CD0-455E-8730-63663653CAE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97993695-6B1C-4204-BF16-1A85EACFA5DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6790879-AE8D-4049-AED9-9CA4741E1B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94C4C2DA-A630-44FB-A87F-B367CEEF7B2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zikai Liu</string>
	<key>description</key>
	<string>Shortcuts to convert text cases and so on</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Text Utilities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C98FBBB5-8CD0-455E-8730-63663653CAE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4307869D-EEE8-4AF4-A0F0-CC4B94EA7A94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EDFBB463-55E8-4CD2-9A9B-43E7CF25CE18</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>339CD1E8-F076-495F-9C82-352CC45924E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>569A6FF5-F1BF-4A07-8FC6-8DD00EF1F4C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>97993695-6B1C-4204-BF16-1A85EACFA5DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D60CBE35-A035-4140-A826-871B52E5F4DE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>120D446C-DD7D-4684-B6C8-BEEA69CB43E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>titlecase.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94C4C2DA-A630-44FB-A87F-B367CEEF7B2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6790879-AE8D-4049-AED9-9CA4741E1B4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B3079EA2-5701-4208-BB09-3A104DB9AF71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>17113BA8-F83F-448C-9F91-8135D658EE64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E767562-4C53-4BCA-A299-191698F3B546</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>/* {query} */</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4A99612A-3F8E-41AC-A7D8-EB614215A0A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B107D83D-BBC6-4214-AD18-85EFE7E60B1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3738ECE8-F692-40C9-84C3-8BA50B1DB082</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>887AC2CD-26B8-4C16-90EE-53569D999011</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$1" | awk '{gsub(/./, "="); printf "%s", $0}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A20A20C-DE27-47F6-B90C-85D140EDB312</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9EA483E-CA86-4B12-876B-9B651EE6A55D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$1" | awk '{gsub(/./, "-"); printf "%s", $0}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A3E26F-7A34-4F3C-B3E5-9AD637487E8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$1" | awk '{gsub(/./, " "); printf "%s", $0}'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3DB53584-927A-43CF-9142-52710B4D320C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A074A1BC-BDCE-4EB1-900D-A1443A3AE489</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>49A8206E-39AF-4BB1-AA78-EA96145D8F65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rmlf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Remove Single Linefeeds</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4D61F8AC-8A98-4E28-90AD-6804F3DE0716</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1E2B1A3F-58F3-423F-BE74-A89FA7CACA94</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python3 remove_single_linefeeds.py "$clipboard"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>remove_single_linefeeds.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>505B1B41-289D-4C71-894C-D0D41F7CA7CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clipboard</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>584F4D36-9ABC-4935-924F-B416202B70C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>120D446C-DD7D-4684-B6C8-BEEA69CB43E5</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to title/capital case.</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>17113BA8-F83F-448C-9F91-8135D658EE64</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>1A20A20C-DE27-47F6-B90C-85D140EDB312</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>1E2B1A3F-58F3-423F-BE74-A89FA7CACA94</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>1E767562-4C53-4BCA-A299-191698F3B546</key>
		<dict>
			<key>note</key>
			<string>Wrap the selected text in C-style comment /* */</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>339CD1E8-F076-495F-9C82-352CC45924E9</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3738ECE8-F692-40C9-84C3-8BA50B1DB082</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>3DB53584-927A-43CF-9142-52710B4D320C</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>4307869D-EEE8-4AF4-A0F0-CC4B94EA7A94</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to lower case.</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>49A8206E-39AF-4BB1-AA78-EA96145D8F65</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to '-'s of the same length.</string>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>4A99612A-3F8E-41AC-A7D8-EB614215A0A0</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>4D61F8AC-8A98-4E28-90AD-6804F3DE0716</key>
		<dict>
			<key>note</key>
			<string>Remove linefeeds in Markdown (and so on): replace single linefeeds with spaces but preserve two or more consecutive linefeeds.</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>505B1B41-289D-4C71-894C-D0D41F7CA7CB</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>569A6FF5-F1BF-4A07-8FC6-8DD00EF1F4C8</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>584F4D36-9ABC-4935-924F-B416202B70C6</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>887AC2CD-26B8-4C16-90EE-53569D999011</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to spaces of the same length.</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>94C4C2DA-A630-44FB-A87F-B367CEEF7B2F</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>97993695-6B1C-4204-BF16-1A85EACFA5DE</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A074A1BC-BDCE-4EB1-900D-A1443A3AE489</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to '='s of the same length.</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>B107D83D-BBC6-4214-AD18-85EFE7E60B1C</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>B3079EA2-5701-4208-BB09-3A104DB9AF71</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C1A3E26F-7A34-4F3C-B3E5-9AD637487E8D</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>C98FBBB5-8CD0-455E-8730-63663653CAE5</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to upper case.</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C9EA483E-CA86-4B12-876B-9B651EE6A55D</key>
		<dict>
			<key>xpos</key>
			<integer>1245</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>D60CBE35-A035-4140-A826-871B52E5F4DE</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>EDFBB463-55E8-4CD2-9A9B-43E7CF25CE18</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F6790879-AE8D-4049-AED9-9CA4741E1B4D</key>
		<dict>
			<key>note</key>
			<string>Convert the selected text to (smart) title/capital case.</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://zikailiu.com</string>
</dict>
</plist>
